ul {
  list-style-type: none;
  position: relative;
  width: 150px;
  padding: 0;
  margin: 0;
}

ul ul {
  position: absolute;
  top: 0;
  left: 150px;
}
[aria-expanded='false'] + ul {
  display: none;
}
li {
  position: relative;
}
a {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 16px;
  text-decoration: none;
  background-color: #ccc;
  outline: 0;
}
a:focus, a:hover {
  background-color: #eee;
}
